.card-project{
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  border: solid 1px var(--border);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 4px;
  display: flex;
  width: 310px;
  flex-direction: column;
  gap: 10px;
}

.card-project .card-body{
  background-color: #FFE1CC;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
}

.card-project .card-body .date-save{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-project .card-body .date-save .date{
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  user-select: none;
}

.card-project .card-body .date-save .container-save{
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons);
}

.card-project .card-body .date-save .container-save:hover{
  color: #ffc233
}

.card-project .card-body .info-card{
  display: flex;
  flex-direction: column;
}

.card-project .card-body .info-card h4{
  font-size: var(--text-sm);
}

.card-project .card-body .info-card h3{
  font-size: var(--display-xs);  
  font-style: normal;
  font-weight: 700;
}

.card-project .card-body .info-card h4,
.card-project .card-body .info-card h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.card-project .card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.card-project .card-footer p{
  color: var(--text-tertiary);
}

.card-project .card-footer button{
  position: relative;
  overflow: hidden;
  z-index: 0;
  gap: 5px;
}

.card-project .card-footer button::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
}

.card-project .card-footer button:hover{
  gap: 20px;
}

.card-project .card-footer button:hover::before{
  width: 180%;
}