.content-home{
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-home .control-panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-home .list-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
